<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!-- loginMapper.xml -->

<mapper namespace="user">

	<insert id="insertUser" parameterType="java.util.Map">
		insert into member_practice(id, pwd, role, regdate)
		values(#{id}, #{pwd},
		#{role}, sysdate)
	</insert>

	<select id="selectUser" resultType="java.util.Map">
		select id, pwd, role 
		from member_practice
		where id = #{id}
	</select>


</mapper>



